@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center bg-dark ">
    <h1 class="display-4 text-light pt-6">¡Bienvenido a</h1>
    <h2 class=" text-light pb-6">Registro de Personas!</h2>
    <img src="https://cdn-icons-png.flaticon.com/512/6556/6556391.png" class="w-50 mt-3" />
    
</div>
