@page
@model RegistroPersonas.Pages.Personas.CreateModel

@{
    ViewData["Title"] = "Creacion de Personas";
}
<div class="d-flex justify-content-between mb-2 align-items-center">
    <div>
        <h1>Creacion de Personas</h1>
    </div>
    <div>
        <div>
            <a asp-page="Index"><button class="btn btn-outline-dark">Volver</button></a>
        </div>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Persona.nombre" class="control-label text-capitalize"></label>
                <input asp-for="Persona.nombre" class="form-control border border-dark w-100 " placeholder="Ingrese aqui su nombre" />
                <span asp-validation-for="Persona.nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.sexo" class="control-label text-capitalize"></label>
                <input asp-for="Persona.sexo" class="form-control border border-dark w-100" placeholder="Ingrese aqui su sexo (M o F)" />
                <span asp-validation-for="Persona.sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.nacimiento" class="control-label text-capitalize"></label>
                <input asp-for="Persona.nacimiento" class="form-control border border-dark w-100" />
                <span asp-validation-for="Persona.nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group my-4 col-12">
                <input type="submit" value="Agregar persona" class="btn btn-success py-3 w-100" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
